
@{
    Layout = null;
}


<link href="~/Content/bootstrap.min.css" rel="stylesheet" />


<h3>Mvc kamp tablo örneği-Kategori</h3>

<br />

<table class="table table-hover">

    <tr>

        <th>ID</th>
        <th>Kategori ADI</th>
        <th>Açıklama</th>
        <th>Durum</th>
        <th>Güncelle</th>

    </tr>

    <tr>
        <td>1</td>
        <td>Eğitim</td>
        <td>Açıklama Yaptık</td>
        <td>True</td>
        <td><button class="btn btn-success">Güncelle</button></td>

    </tr>

    <tr>
        <td>2</td>
        <td>Spor</td>
        <th>Açıklama Yaptık</th>
        <td>true</td>
        <td><button class="btn btn-success">Güncelle</button></td>

    </tr>


    <tr>
        <td>3</td>
        <td>Kitap</td>
        <th>Açıklama Yaptık</th>
        <td>true</td>
        <td><button class="btn btn-success">Güncelle</button></td>

    </tr>

    <tr>
        <td>4</td>
        <td>Sinema</td>
        <th>Açıklama Bekleniyor</th>
        <td>true</td>
        <td><button class="btn btn-success">Güncelle</button></td>

    </tr>

</table>


<button class="btn btn-info ">Yeni Kategori</button>
<button class="btn btn-warning ">Kategori Listesi</button>
<button class="btn btn-danger "> Kategori Açıklamaları</button>
